<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'webmain/jscss/cssstyle.html' %}
</head>
<body>
<div class="card m-auto mt-3" style="max-width: 60rem;">
    <div class="card-body">
        <p>i can change this world</p>
        <button type="submit" id="links" class="btn btn-primary btn-lg btn-block mt-3 btn-message">
            list of buttons
        </button>
    </div>
</div>
{% include 'webmain/jscss/jsscript.html' %}
</body>
</html>