{% block content %}
    {# Поиск по организация-роль-пользователь #}
    <form class="container mt-1">
        <table class="table table-hover" id="idtableconnection">
            {# Заголовки - колонки #}
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Организация</th>
                <th scope="col">Роль</th>
                <th scope="col">Пользователь</th>
            </tr>
            </thead>
            {# Строки #}
            <tbody class="table-connection" id="idconnect">
            {% for i in datausers %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.organizations }}</td>
                    <td>{{ i.roles }}</td>
                    <td>{{ i.users }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# Пагинация #}
    </form>
{% endblock %}